* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Mulish", sans-serif;
}
.container1 {
  width: 1400px;
}
.container {
  width: 1900px;
}
#main-nav {
  display: flex;
  background: #f7f7f7;
  height: 59px;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
.navaddress {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  padding: 0.5rem;
  margin-left: 2rem;
}
.navlinks {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navimg {
  width: 120px;
}
.navright {
  margin-left: 35rem;
}
.navleft {
  display: flex;
  align-items: center;
  margin-left: 3rem;
}
.navright a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-size: 16px;
  margin: 0 1.5rem;
  color: #415859;
}
.navbtn {
  padding: 0.5rem;
  text-align: center;
  border: 1px solid #415859;
  border-radius: 0.2rem;
}
.hero {
  display: flex;
  flex-direction: row;
}
.hleftimg {
  z-index: -1;
  position: relative;
}
.heroleftcontent {
  z-index: 1;
  position: absolute;
  font-size: 48px;
  top: 220px;
  left: 251px;
}
.herolefttitle {
  color: white;
  font-weight: 700;
  font-weight: 700;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  line-height: 58.51px;
  text-align: center;
}
.search-box {
  width: 550px;
  position: relative;
  display: flex;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.search-input {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  padding: 15px 45px 15px 15px;
  background-color: #eaeaeb;
  color: #6c6c6c;
  border-radius: 6px;
  border: none;
  transition: all 0.4s;
}

.search-input:focus {
  border: none;
  outline: none;
  box-shadow: 0 1px 12px #b8c6db;
  -moz-box-shadow: 0 1px 12px #b8c6db;
  -webkit-box-shadow: 0 1px 12px #b8c6db;
}

.search-btn {
  background-color: transparent;
  font-size: 18px;
  padding: 6px 9px;
  margin-left: -45px;
  border: none;
  color: #6c6c6c;
  transition: all 0.4s;
  z-index: 10;
}

.search-btn:hover {
  transform: scale(1.2);
  cursor: pointer;
  color: black;
}

.search-btn:focus {
  outline: none;
  color: black;
}
.example {
  font-size: 17.5px;
  color: #ffffff;
  padding-top: 10px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
span {
  text-decoration: underline;
}
.herorighttitle {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: center;
  padding-top: 2rem;
}
.herorightimgs {
  display: flex;
  flex-direction: row;
  padding: 0.8rem 4rem;
  align-items: center;
}
.gpimg {
  width: 70px;
  height: 70px;
  margin: 0 4rem;
}
.gpcontent {
  font-family: Mulish;
  font-size: 19px;
  font-weight: 400;
  line-height: 24px;
  padding: 0.5rem;
  letter-spacing: 0em;
  text-align: center;
}
.herobanner {
  margin-top: 2rem;
}
.banner {
  margin-left: 1rem;
}
.services-heading {
  font-family: Montserrat;
  margin-top: 3rem;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: center;
  color: #025b5d;
}
.sub-heading {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 4rem;
}
section.services .card-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 2rem 8rem;
  justify-items: center;
  align-items: center;
}
.card {
  background: #ffffff;
  width: 244px;
  box-shadow: 0px 5.07432px 25.3716px 2.96002px rgba(57, 57, 57, 0.15);
  border-radius: 18px;
  padding: 2rem 0.5rem;
  position: relative;
  text-align: center;
}
.card img {
  position: absolute;
  width: 170px;
  top: -4.5rem;
  left: 50%;
  transform: translateX(-50%);
}
.card h2 {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
  padding-top: 2rem;
}
.sameday-img {
  position: absolute;
  height: 225px;
  width: 160px;
  top: -5.5rem;
  left: 50%;
  transform: translateX(-50%);
}
.same-card {
  position: relative;
  height: 233px;
  width: 222px;
  background: #ffffff;
  box-shadow: 0px 5.07432px 25.3716px 2.96002px rgba(57, 57, 57, 0.15);
  border-radius: 18px;
  padding: 2rem 0.5rem;
  position: relative;
  text-align: center;
}
.same-text {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
  padding-top: 8rem;
}
.s {
  width: 250px;
  height: 280px;
  top: -8.5rem;
}
.active-card {
  background: linear-gradient(48.55deg, #ffa500 -6.74%, #ffecca 120.59%);
}
.assure-card {
  background-color: #ececee;
  width: 50%;
  margin: 0 auto;
  display: flex;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  overflow: hidden;
}
.assure-title {
  font-family: "Montserrat";
  font-weight: 600;
  padding: 1.5rem 1rem 0.5rem;
  font-size: 36px;
  line-height: 44px;
  color: #025b5d;
}
.listss {
  display: flex;
  padding: 0 2rem;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
}
.li-1 {
  margin: 0 3rem;
}
li {
  padding: 0.5rem;
}
.pcscard {
  text-align: center;
}
.pcscard1 {
  width: 278px;
  height: 156px;
  background: #531c1c;
  border-radius: 10px;
}
.pcstitle {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-top: 1rem;
  color: #000000;
}
.pcssub {
  font-family: "Roboto";
  margin-top: 6px;
  font-weight: 400;
  font-size: 14px;
  color: #757575;
}
.pcs-card-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  padding: 0 12rem;
}
.apm {
  height: 318px;
  margin-top: 2rem;
  background: #f7f7f7;
}
.apmtitle {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 50px;
  padding-top: 2rem;
  letter-spacing: 0.06em;
  text-align: center;
  color: #3a3a3a;
}
.apm-content {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.apmc1 {
  display: flex;
  padding: 2rem;
}
.apmc2t {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 25px;
  color: #000000;
}
.apmc2p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 111.5%;
  color: #707070;
}
.hm-card-wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 2rem 8rem;
  justify-items: center;
  margin-top: 5rem;
}
.hm-card {
  background: #ffffff;
  width: 244px;
  box-shadow: 0px 5px 25px 3px rgba(57, 57, 57, 0.15);
  border-radius: 18px;
  padding: 2.5rem 1.5rem 1rem;
  position: relative;
  text-align: center;
}
.hm-img {
  position: absolute;
  top: -7rem;
  height: 150px;
  width: 160px;
  left: 50%;
  transform: translateX(-50%);
}
.hm-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  text-align: center;
  color: #000000;
}
section.book {
  background: linear-gradient(180deg, #fbd268 0%, #f1ba29 100%);
  height: 376px;
  display: flex;
}
section.book img {
  margin-left: 12rem;
}
.book-title {
  font-family: Poppins;
  padding: 4rem 3rem 0;
  font-size: 50px;
  font-weight: 600;
  line-height: 47px;
  letter-spacing: 0.175em;
  text-align: center;
}
.book-txt {
  display: flex;
  flex-direction: row;
  font-family: Poppins;
  font-size: 33px;
  font-weight: 300;
  padding: 1rem;
}
.book-txt:before,
.book-txt:after {
  content: "";
  flex: 1 1;
  border-bottom: 2px solid;
  margin: auto;
}
.book-txt:before {
  margin-right: 10px;
}
.book-txt:after {
  margin-left: 10px;
}

.book-btn {
  text-align: center;
  font-weight: 800;
  font-size: 22px;
  padding: 1rem;
  margin-top: 1.5rem;
  transform: translateX(180%);
  color: #a90000;
  background: linear-gradient(270deg, #fbd268 0%, #f1ba29 100%);
  border: 1px solid #a90000;
  border-radius: 28px;
}
.extra-services {
  display: flex;
  flex-direction: row;
  margin-top: 5rem;
}
.extra-ctn {
  padding: 2rem;
  margin-left: 3rem;
}
.extras {
  display: flex;
  align-items: center;
}
.ext-title {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: 0em;
  /* text-align: left; */
  color: #025b5d;
}
.exts {
  margin: 8px;
}
.ex-img {
  position: absolute;
  top: -7rem;
  height: 150px;
  width: 160px;
  left: 50%;
  transform: translateX(-50%);
}
.ex-card {
  background: #ffffff;
  width: 200px;
  box-shadow: 0px 5px 25px 3px rgba(57, 57, 57, 0.15);
  border-radius: 18px;
  padding: 2.5rem 0.5rem 1rem;
  position: relative;
  text-align: center;
}
.ex-card-wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 2rem 3rem 2rem 0rem;
  justify-items: center;
  margin-top: 5rem;
}
.choose {
  display: flex;
}
.choosectn {
  display: block;
}
.customers-say {
  margin: 4rem 0;
}
.testimonials {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  padding: 0 12rem;
  margin-top: 2rem;
}
.testimonial-card {
  width: 290px;
  height: 185px;
  box-shadow: 1px 20px 50px 1px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
}
.cardtxt {
  font-family: Mulish;
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0.02em;
  text-align: left;
}
.testimonial-card h3 {
  margin-top: 1rem;
  font-family: "Roboto";
  font-weight: 600;
  font-size: 16px;
  color: #025b5d;
}
.search-box2 {
  /* width: 550px; */
  position: relative;
  display: flex;
  margin: auto;
}

.search-input2 {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  padding: 15px 45px 15px 15px;
  background-color: #ffffff;
  color: #ffffff;
  border-radius: 6px;
  border: none;
  margin-left: 2rem;
  transition: all 0.4s;
}

.search-input2:focus {
  border: none;
  outline: none;
  box-shadow: 0 1px 12px #b8c6db;
  -moz-box-shadow: 0 1px 12px #b8c6db;
  -webkit-box-shadow: 0 1px 12px #b8c6db;
}
.btn2 {
  background-color: #f2c19d85;
  border-radius: 10px;
}
.wdth {
  width: 1250px;
  display: flex;
  flex-direction: row;
}
.phone-img {
  margin-left: 10rem;
  transform: translateY(15%);
  position: relative;
}
.phone-img2 {
  margin-left: 4rem;
  transform: translateY(34%);
  position: relative;
}
.app-store {
  display: flex;
  align-items: center;
  padding: 2rem;
}
.guarantee {
  display: flex;
  align-items: center;
  justify-content: center;
}
.guarantee h2 {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  margin-left: 5rem;
}
footer {
  background: #343434;
  color: #ffffff;
}
.footer-contain {
  width: 1300px;
  margin: 0 auto;
  padding: 2rem 1rem 0;
}
.related-services {
  display: flex;
  align-items: center;
}
.footer-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-left: 2rem;
}
.related-services h2 {
  font-family: Poppins;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.08em;
}
.vl {
  border-left: 2px solid rgb(255, 255, 255);
  height: 30px;
}
.footer-list li {
  font-family: Poppins;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.08em;
  text-align: left;
}
.footer-bar-ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  font-family: Mulish;
  font-size: 15px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0.08em;
}
.footer-bar-ul li {
  margin: 2rem 1.5rem;
}
.social-links {
  display: flex;
  justify-content: center;
}
.copyright {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.contact-info {
  display: flex;
  justify-content: center;
  margin: 2rem;
}
.contact-info h2 {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.08em;
  margin-bottom: 1rem;
  color: #2aeaee;
}
.contact-info p {
  font-family: Poppins;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.08em;
}

/* RespnsiveNess  */
@media screen and (min-width: 320px) and (max-width: 480px) {
  #main-nav {
  width: 100vw;
  }
  .navimg {
    display: none;
  }
  .container {
    width: 90vw;
    padding: 0;
    /* margin: auto; */
    justify-content: center;
  }
  .navleft {
    margin-left: 0%;
  }
  .navright {
    display: none;
  }
  .navaddress {
    font-size: 12px;
    margin-left: 0;
  }
  .hero {
    display: block;
  }
  .hleftimg {
    display: none;
  }
  .search-box {
    width: 495px;
    position: relative;
    bottom: 274px;
    left: -233px;
    right: 48px;
  }

  .search-input {
    width: 90VW;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    background-color: #eaeaeb;
    color: #6c6c6c;
    border-radius: 3px;
    border: none;
  }

  .search-input:focus {
    border: none;
    outline: none;
    box-shadow: 0 1px 12px #b8c6db;
    -moz-box-shadow: 0 1px 12px #b8c6db;
    -webkit-box-shadow: 0 1px 12px #b8c6db;
  }

  .search-btn {
    background-color: transparent;
    font-size: 15px;
    margin-left: -45px;
    border: none;
    color: #6c6c6c;
    z-index: 10;
  }
  .example {
    display: none;
  }
  .search-btn:focus {
    outline: none;
    color: black;
  }
  .herolefttitle {
    visibility: hidden;
  }
  .heroright {
    margin: 0 auto;
    justify-content: center;
  }
  .herorighttitle {
    padding: 0.5rem;
    margin-top: 2rem;
    font-size: 14px;
  }
  .herorightimgs {
    margin: 0;
    padding: 0;
  }
  .gpimg {
    width: 30px;
    height: 30px;
    margin: 0 2rem;
  }
  .gpcontent {
    font-size: 10px;
    line-height: 10px;
  }
  .banner {
    width: 90vw;
    height: 28vh;
    margin-left: 0;
  }
  section.services .card-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
    gap: 1rem;
    margin-top: 2.5rem;
  }
  .card {
    width: 122px;
    padding: 1rem 0.2rem;
  }
  .card img {
    width: 85px;
    top: -1.5em;
  }
  .card h2 {
    font-size: 12px;
    line-height: 10px;
  }
  .hide {
    display: none !important;
  }
  .services-heading {
    font-size: 18px;
    margin-top: 1.5rem;
    line-height: 20px;
  }
  .sub-heading {
    font-size: 10px;
    letter-spacing: 0;
    margin-bottom: 1rem;
  }
  .same-card {
    height: 115px;
    width: 150px;
  }
  .sameday-img {
    width: 105px;
    height: 95px;
    top: -2rem;
  }
  .same-text {
    font-size: 12px;
    padding-top: 3rem;
    line-height: 10px;
  }
  .s {
    width: 115px;
    height: 110px;
    top: -2.5rem;
  }
  .assure-card {
    width: 100vw;
    display: -webkit-inline-box;
    margin-top: 1rem;
  }
  .assure-title {
    font-size: 18px;
  }
  .li-1 {
    margin: 0 1.2rem;
  }
  .li-1 li {
    padding: 0.5rem 0.5rem 0;
  }
  .listss {
    font-size: 12px;
  }

  .assure-card img {
    width: 150px;
    height: 100%;
    transform: translateX(-84px);
    margin-top: 2rem;
  }
  .pcs-card-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    padding: 0;
    margin: 0 auto;
  }
  .pcscard1 {
    width: 135px;
    height: 100px;
  }
  .pcstitle {
    font-size: 10px;
    margin-top: 0.5rem;
    line-height: 8px;
  }
  .pcssub {
    margin-top: 3px;
    font-size: 7px;
    color: #757575;
    line-height: 10px;
    margin-bottom: 0.8rem;
  }
  .apm{
    margin-top: 0.5rem;
  }
  .apmtitle {
    font-size: 25px;
  }
  .apm-content {
    flex-direction: column;
    margin-top: 1.5rem;
  }
  .apmc2t {
    font-size: 13px;
  }
  .apmc1 {
    padding: 0.5rem 1.5rem;
  }
  .apmc1 img {
    width: 50px;
  }
  .apmc2p {
    font-size: 8.5px;
  }
  .hm-card-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 2rem;
    padding: 0 1rem;
    margin: 0 auto;
  }
  .hm-card {
    width: 150px;
    height: 85px;
  }
  .hm-text {
    font-size: 12px;
    margin-top: 0.5rem;
    line-height: 12px;
  }
  .hm-img {
    width: 85px;
    height: 70px;
    top: -1.5em;
  }
  section.book {
    height: 180px;
    width: 100vw;
    align-items: center;
    margin: 0 auto;
  }
  section.book img {
    width: 150px;
    height: 80px;
    margin-left: 2rem;
  }
  .book-title {
    font-size: 16px;
    line-height: 20px;
    margin-top: 1rem;
    padding: 1rem 0 0;
    letter-spacing: 0.1rem;
  }
  .book-txt {
    font-size: 10px;
    padding: 0;
  }
  .book-btn {
    font-size: 8px;
    padding: 0.3rem;
    transform: translateX(45%);
    margin-top: 0.5rem;
  }
  .extra-ctn {
    margin-left: 0;
    display: flex;
    flex-direction: column;
  }
  .ext-title {
    font-size: 18px;
    line-height: 25px;
  }
  .ex-img {
    height: 55px;
    width: 70px;
    top: -2rem;
  }
  .extra-services {
    flex-direction: column;
    margin-top: 2.5rem;
  }
  .ex-card-wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 0 3rem 2rem 1rem;
    margin-top: 2rem;
    margin: 0 auto;
  }
  .ex-card {
    width: 100px;
    padding: 1rem 0.2rem 0.5rem;
  }
  .ex-card p {
    font-size: 10px;
    padding: 0.5rem;
    line-height: 8px;
  }
  .wdth {
    display: none;
  }
  .testimonials {
    grid-template-columns: repeat(1, 1fr);
    padding: 0;
    gap: 2rem;
  }
  .testimonial-card {
    width: 180px;
    height: 140px;
    padding: 18px;
  }
  .cardtxt {
    font-size: 8px;
    line-height: 15px;
  }
  .testimonial-card h3 {
    font-size: 10px;
  }
  /* .guarantee{
    width: 80vw;
  } */
  .guarantee h2{
    font-size: 20px;
    margin-left: 1.5rem;
  }
  .guarantee img{
    width: 150px;
  }
  .ph-caret-circle-left-bold,.ph-caret-circle-right-bold{
    display: none;
  }
  footer{
    display: none;
  }
}
